body {
    margin: 0;
    font-family: Helvetica;
}

/* add tick form */
.addTickForm {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.commentText textarea {
    background: rgb(232, 232, 232);
    display: flex;
    min-width: 500px;
    width: 95%;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: 10px;
    flex-grow: 3;
}

.commentText textarea:focus {
    outline: none !important;
    border-color: #000000;
    box-shadow: 0 0 2.5px #919191;
}

.d-inline-flex.align-items-center.btn.btn-light {
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 1px;
    border: 0.1px;
    margin: 10px;
    background-color: black;
}

.ms-1 {
    color: rgb(171, 170, 169);
    background-color: black;
}

.DropDownGymSearch {
    display: flex;
    /* align-items: baseline; */
    margin: 2rem;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.gymSearchGymName {
    margin: 10px;
}

.gymAddress {
    display: flex;
    margin: 10px;
}

.commentButton {
    color: white;
    margin: 10px;
    background: black;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.buttonDiv {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}